/* .app {



  --selected-font-color: var(--product-font-color);
  --product-font-color: #555a8f;
  --product-background: #fff;
  --primary-color-button-links: #4b0dba;
  --primary-text-icons: #262631;
  --clicked-state: #33028a;
  --body-text: #7a7a7a;
  --secondary-text: #93a4b7;
  --borders-inactive-buttons: #dedede;
  --header-background: #ede6f8;
  --borders-inactive-text: #cdced7;
  --title-background: #f7f5fc;
  --success-color: #04a65b;
  --hovers-clicked-state: #f8f9ff;
  --error-color: #b60229;
  --delete-color: #ff6565;


  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
} */

.app {
  display: flex;
  margin: 0px;
  padding: 0px;
}

.subappdiv {
  display: inline-grid;
}

.navDiv {
  width: auto;
  position: absolute;
}

.restDiv {
  margin-left: 100px;
  padding: 0px;
  width: 100vh;
}